html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
	background: #292c3b;
    font-family: 'Exo', sans-serif;
	color: #66FCF1;
}

section {
    margin:-1%;
    padding:20px;
}

.container {
	display: block;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    text-align: center;
}

ul li {
    display: inline;
    list-style-type: none;
}

#footer {
    padding: 1em;
    background-color: #292c3b;
    color: #66FCF1;
	text-align: center;
	font-size: 0.9rem;
}
   
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}


/*************** SCORE PANEL ***************/


.score-panel {
	text-align: center;
	margin-bottom: 10px;
}

.score-panel .stars .restart {
    position: absolute;
	text-align: center;
    top:35%;
    left: 50%;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
}

.score-panel .restart {
    display: inline-block;
	cursor: pointer;
}

.fa-star .stars {
    display: flex;
    padding: 0;
    animation-name: blink;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}

.restart:hover {
	text-shadow: 0 0 2px #66FCF1,
              0 0 4px #66FCF1,
              0 0 6px #99adbde3,
              0 0 8px #99adbde3,
              0 0 10px #99adbde3;
}


/*************** BOARD STYLING ***************/


.deck {
    float: left;
    height: 24vw;
    margin: 1%;
    width: 23%;
	background: #0B0C10;
	padding: 1rem;
	border-radius: 4px;
	box-shadow: 8px 9px 26px 0 #2e3d4980;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	margin: 0.2rem 0.2rem;
	background: #1F2833;;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 #2e3d4980;
}

.deck .card.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
	animation-name: flipCardIn;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
    animation-duration: .75s;
    font-size: 33px;
}

.card {
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px #00000000;
}

.card:hover, .card:focus, .card:active {
	animation-name: hvr-bounce-float, hvr-float;
	animation-duration: .3s, 1.5s;
	animation-delay: 0s, .3s;
	animation-timing-function: ease-out, ease-in-out;
	animation-iteration-count: 1, infinite;
	animation-fill-mode: forwards;
	animation-direction: normal, alternate;
	box-shadow: 5px 2px 20px 0 #02b3e473;
}

.deck .card.match {
	cursor: default;
	background: #66fcf2b0;
	font-size: 33px;
	animation-name: boing;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.deck .card.unmatched {
	animation-name: pushOut;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #b10e37;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}


/*************** WINNER BOX ***************/


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000b3;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #524b4b;
	border-radius: 5px;
	width: 50%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Exo', sans-serif;
	opacity: 0.85;
	transition: opacity 0.4s linear 0s;
}
  
.popup h2 {
	margin-top: 0;
	color: #66FCF1;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #66FCF1;
}

.popup .congratulations,
.gamestats {
	max-height: 20%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}


/*************** BUTTON PROPERTIES ***************/


#btn {
	background-color: #524b4b;
	padding: 0.7rem 1rem;
	font-size: 0.8rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	border: 2px solid #66FCF1;
	font-family: 'Exo', sans-serif;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.5s, color 0.3s ease-out;
	overflow: hidden;
	/*border-radius: 5px;*/
}

#btn::before {
	margin: auto;
	content: '';
	border-radius: 50%;
	width: 50%;
	transition: box-shadow 0.6s ease-out;
	z-index: -1;
}

#btn:hover {
	background-color: #66FCF1;
	color: #524b4b;
}

#btn:hover::before {
	box-shadow: inset 0 0 0 160px #66FCF1;
}

/*************** CARD ANIMATIONS ***************/


@keyframes flipCardIn {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes boing {
	from {
		transform: scale3d(2, 2, 2);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pushOut {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes hvr-float {
	0% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	50% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	100% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
	}
}

@keyframes hvr-bounce-float {
	100% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
  	}
}


/*************** RESPONSIVE MEDIA QUERIES ***************/


@media (max-width: 490px) {

    .container {
        display: block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .deck {
        width: 300px;
        height: 300px;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }   
    
    .deck .card {
		height: 20%;
        width: 20%;
    	margin: 0.2rem;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
	}

	#footer {
		background-color: #292c3b;
		color: #66FCF1;
		text-align: center;
		font-size: 0.6rem;
	}
	
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 491px) and (max-width: 767px) {

    .container {
        display: block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
 
    .deck {
        width: 425px;
        height: 425px;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }   
     
    .deck .card {
		height: 22%;
        width: 22%;
    	margin: 0.36rem;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) {

	.deck {
		width: 500px;
		height: 500px;
	}

	.deck .card {
		height: 100px;
        width: 100px;
	}

	.popup {
		width: 60%;
	}
}